@font-face {
  font-family: SarabunRegular;
  src: local('SarabunRegular'), url(./fonts/Sarabun-Regular.ttf)  format('truetype');
}
@font-face {
  font-family: ABeeZeeRegular;
  src: local('ABeeZeeRegular'), url(./fonts/ABeeZee-Regular.ttf)  format('truetype');
}
@font-face {
  font-family: RedHatRegular;
  src: local('RedHatRegular'), url(./fonts/RedHatDisplay-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: RedHatBold;
  src: local('RedHatBold'), url(./fonts/RedHatDisplay-Bold.ttf)  format('truetype');
}

body {
  background-color: #E5E5E5;
}

.header {
  background: linear-gradient(180deg, #9A9BF9 0%, #89A6FA 29.17%, #7DCBFB 100%);
}

.header img{
  position: absolute;
left: 25%;
top: 0;
z-index: 2;
}

.header h2,
.header h5 {
  text-align: center;
  color: white;
  font-family: RedHatBold;
  margin-top: 0;
  margin-bottom: 0;
}

.header h2 {
  text-shadow: 0px 2px 2px #FFFFFF;
font-size: 48px;
}

.header h5 {
  font-size: 24px;
}

.container-fluid {
  height: 100vh;
display: flex;
flex-direction: column;
}

.body {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: salmon;
  flex: 1;
  background-color: #faf9fe;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.body-text {
  margin-left: 3%;
color: #99879D;
font-family: ABeeZeeRegular;
}

.body-text-title {
  font-size: 20px;
color: #120E21;
font-weight: 500;
font-size: 20px;
line-height: 26px;
margin-top: 4%;
margin-bottom: 4%;
font-family: RedHatBold;
}

.body-text-detail {
  font-size: 12px;
margin-top: 10%;
}

.middle {
  flex: 1;
}

.goButton {
  background-color: #8BA5FA;
box-shadow: 0px 8px 20px rgba(97, 62, 234, 0.32);
border-radius: 6px;
border: 0;
color: #FFFFFF;
font-family: SarabunRegular;
width: 20%;
height: 10%;
margin-left: auto;
margin-right: auto;
}

.ask-item{
  margin-bottom: 2rem;
}

.ask-item p {
  color: #99879D;
  font-family: ABeeZeeRegular;  
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #99879D;
  font-size: 16px;
  font-family: ABeeZeeRegular;
  line-height: 1rem;
  opacity: 1; /* Firefox */
}

textarea::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #99879D;
  font-size: 16px;
  font-family: ABeeZeeRegular;
  line-height: 1rem;
}

textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: #99879D;
  font-size: 16px;
  font-family: ABeeZeeRegular;
  line-height: 1rem;
}

.footer {
  background-color: #faf9fe;
border-top: 1px solid rgba(0, 0, 0, 0.22);
padding-top: 1%;
}

.footer div {
  width: 85%;
margin-left: auto;
margin-right: auto;
}

.footer p {
  font-family: ABeeZeeRegular;
color: #99879D;
font-size: 12px;
}